*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth ;
}

body {
  font-family: "Poppins", sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 30%;
  outline: none;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background: linear-gradient(45deg,  #cecfc7 20%, #713e5a  20% 50%, #331e36 50% 80%, #795468 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h1 {
  color:  #cecfc7;
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color:#cecfc7 ;
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.links a:hover {
  color: #795468;
  transform: scale(1.05);
  font-weight: 700;
}


.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color:  #eff8e2;
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:  #eff8e2;
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
  background-color: #331e36;
}

.showcase-area .container {
  background-color: #e8d6b3;
  margin: 50px auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.7rem;
  color: #331e36;
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: #861553;
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  display: inline-block;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color:  #713e5a;
  border-radius: 16px;
  transition: 0.3s;
  margin-top: 30px;
  scroll-behavior: smooth;
}


.btn:hover {
 opacity: 60%;
 
}

.person {
  width: 100%;
  transform: translate(15%, 25px);
}

.aboutcontainer{
  display: flex;
  justify-content: center;
  background-color: #cecfc7;
 
}
.aboutimage img{
  width: 400px;
  height: 400px;
  border: 1px solid #cecfc7;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #795468;
}
.rightdiv{
  width: 400px;
  height: 350px;
  background-color: #e8d6b3;
  margin-left: -100px;
  margin-top: 40px; 
  border: 1px solid #ac879b;
  border-radius: 8px;
  padding: 20px;
}
.rightdiv h3{
  
  font-size: 15px;
  padding: 20px;
  line-height:3.5vh;
}
.rightdiv p a{
  border: 1px solid #331e36;
  background: #331e36;
  color: #cecfc7;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #331e36;
  padding: 10px;
  text-align: center;
  margin: auto 30px;
}

.rightdiv p a:hover{
background-color: #795468 ;
}

.productsection{
  background-color: #cecfc7;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product{
   width: 25%;
   margin: 20px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   border-radius: 20px;
   cursor: pointer;
   padding-top: 10px;
   box-shadow: 0 14px 28px #795468;
   transition: 0.4s;
   background: #e8d6b3;
}
.product:hover{
   box-shadow: 0 3px 6px #331e36;
   transform: translate(0px, -8px);
}
.product img{  
   text-align: center;
   margin: 0 auto;
   display: block;
   height: 250px;
   width: 100%;
   border-radius: 10px;
}
.product p{
   
   color: #795468;
   padding: 8px;
}
.product h3{
  padding: 8px;
}
h6{
   font-size: 26px;
   text-align: center;
   color: #331e36;
   margin: 0;
}
 h2{
  font-size: 25px;
  padding: 20px;
  text-align: center;
  background-color: #331e36;
  color: #cecfc7;
  text-transform: uppercase;
 
 

}
.product ul{
   list-style:  none;
   display: flex;
   justify-content: center;
   padding: 0;

}

.product ul li{
   padding:  5px;

}
.star{
   font-size: 26px;
   transition: o.4s;
   margin: 3px;
   color: rgb(36, 23, 15);
}
.star:hover{
   transform: scale(1.3);
   transition: 0.5s;
}
button{
   text-align: center;
   font-size: 15px;
   color: #cecfc7;
   width: 100%;
   padding: 15px;
   border: 0;
   outline: none;
   cursor: pointer;
   margin-top: 5px;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius:20px;

}
.buynow{
   background: #713e5a;
}
.treatmentcontainer{
  display: flex;
  justify-content: center;
}
.process img {
  width: 400px;
  height: 400px;
}
.process h3{
  width: 400px;
  height: 400px;
  background-color: #e8d6b3;
  color: #331e36;
  font-size: 2.7rem;
  padding: 40px;
  border-radius: 5px;
}
.process p{
  margin-top: 20px;
  text-align: center;
}
.process a{
  border: 1px solid #331e36;
  background: #331e36;
  color: #cecfc7;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #331e36;
  padding: 10px;
  
}


.contact{
  display: flex;
    justify-content: space-around;
    margin: auto 20px;
    padding: 40px;
  }

footer{
  background-color: #cecfc7;
  color: #331e36;
  max-width: 100%;
  font-size: 1.5rem;

}
.lightcare{
  padding: 20px;
}

.lightcare h3{
font-size: 2.5rem;

}

ol li {
  list-style: none;
}

ol li a{
text-decoration: none;
color: #331e36;
}

ol li a:hover{
opacity: 50%;
}

.contact-info {
  display: block;
  width: 20%;
}

.signature{
  width: 100%;
  height: 40px;
  background-color: #795468;
  color: #cecfc7;
  padding: 10px;
  text-align: center;
}


@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: #e8d6b3;
    opacity: 50%;
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: white;
    margin-left: 0;
    padding: 2rem 0;
  }
  
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    height: 20%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .aboutimage img{
    width: 300px;
    height: 400px;  
  }

  .rightdiv{
    margin-left: -80px;
    padding: 10px;
  }
  .products{
    display: grid;
  
  }
  .product{
    width: 125%;
    line-height: 1;
  }

  .product img{
    height: 180px;
  }
  
  .process img {
    width: 200px;
    height: 250px;
  }
  .process h3{
    width: 150px;
    height: 250px;
    font-size: 1.1rem;
    padding: 25px;
    
  }

  .process p{
    margin-right: 20px;
  }

  .process a{
    font-size: 0.8rem; 
    padding: 5px;   
  }

  .contact{
   
      margin: auto 20px;
      padding: 40px 0;
    }
  

  .lightcare{
    padding:  20px auto;
  }
  
  .contact-info {
    width: 30%;
  }

 
}

@media screen and (max-width: 470px) {
  
  .container {

    height: 70%;
    padding: 0 1rem;
  }
  .person {
    width: 100%;
    height: 2%;
   
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }

  .aboutcontainer{
    display: block;
  
   
  }

   .aboutimage img{
    width: 250px;
    height: 250px;
    margin-left: 0px;
   
  }

  .rightdiv{
    width: 320px;
    height: 320px;
    margin: -25px 0 10px 45px;
    padding: 10px
  }

  .rightdiv p a{
    margin: auto 90px;
    padding: 5px;
    font-size: 1em;
  }
 
  .products{
    justify-content: center;
  }
  .product{
    width: 60%;
    line-height: 0.9;
}
.product img{
height: 150px;
}

.product p{
  padding: 3px;
}

.product h3{
 padding: 3px;
}

.products h2{
 font-size:15px;
 padding: 5px;
}

.star{
  font-size: 20px; 
  margin: 1px;
  color: #331e36;
}


.process img {
  width:130px;
  height:200px;
}
.process h3{
  width: 130px;
  height:200px;  
  font-size:  0.9rem;
  padding: 20px;

}
.process p{
  margin-top: 20px;
  text-align: center;
  
}
.process a{
  padding: 2px;
  font-size: 0.8rem;
  
}
 .contact{ 
  background-color: #cecfc7;
  display: block;
  padding: 5px;
  }

  footer{
   
    color: #331e36;
    max-width: 100%;
    font-size: 1.3rem;
    line-height: 1.5;
  
  }
  
  footer div {
    margin: 30px 0 10px 0 ;
  }

  .lightcare{
  width:100%;
  padding: 0;
  font-size: 2rem;
  }
  .lightcare p{
    font-size: 1.3rem;
  }
  
  .contact-info {
    display: block;
    width: 100%;
  }
  
  .signature{
    height:30px;
   font-size: 0.8rem;
  
  }
  
}

